<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <style>
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 60px;
      }
    </style>
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/index.css" media="screen" rel="stylesheet" type="text/css" />

    <title>SMARTMIXES</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">SMARTMIXES</a>
        <ul class="nav pull-right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <fieldset>
        <legend>Adicionar servidor</legend>

        <form class="form-inline" role="form" action="/registrar" method="post">
          <input type="text" class="input-xxlarge" name="ip" placeholder="IP do Servidor" required>
          <input type="text" class="input-small" name="port" placeholder="Porta" required>

          <button type="submit" class="btn btn-default">Adicionar</button>
        </form>
      </fieldset>

      <br>

      <table class="table">
        <thead>
          <tr>
            <th>Nome do Servidor</th>
            <th>Players</th>
            <th>Mapa</th>
            <th>Entrar</th>
          </tr>
        </thead>
        <tbody>
          <% @servers.each do |server| %>
          <tr>
            <td><strong><%= server.hostname %></strong></td>
            <td><%= server.players %></td>
            <td><%= server.current_map %></td>
            <td><a href="steam://connect/<%= server.ip %>:<%= server.port %>"><%= server.ip %>:<%= server.port %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>

</html>
